# Node.js
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Optional npm cache directory
.npm/

# Build output
dist/
build/

# Mac OS specific files
.DS_Store

# VSCode settings
.vscode/
